{
   "loader" : {
      "custom" : "/urserver/remotes",
      "disabled" : [],
      "paths" : [ "/remotes" ],
      "watch" : true
   },
   "log" : {
      "dumps" : true,
      "enable" : true,
      "path" : "/config/urserver.log",
      "trace" : false
   },
   "manager" : {
      "enable" : true,
      "login" : false,
      "password" : "",
      "path" : "/urserver/manager",
      "remote" : true,
      "username" : "admin",
      "web" : true
   },
   "security" : {
      "encryption" : false,
      "mode" : "none",
      "password" : "",
      "users" : [
         {
            "password" : "",
            "username" : "admin"
         }
      ]
   }
}